/*Base css*/
@import "./variables.scss";

body {
	background-color: $grayLight;
}

span,
p {
	color: $black;
}

a {
	color: $blueAction;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
		color: $blueAction;
		opacity: 0.8;
	}

	&[disabled] {
		color: $grayDark;
	}
}

button[disabled],
html input[disabled] {
	cursor: not-allowed;
}

button[disabled] {
	background-color: $grayDark;
	opacity: 0.8;
}

//disable blue outline on click
*:focus,
a:focus,
input:focus,
button:focus,
select:focus {
	outline: none;
}